<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ueli</title>
</head>

<body>
    <div id="vue-root">
        <link rel="stylesheet" :href="stylesheetPath">
        <link rel="stylesheet" :href="customStyleSheet">
        <div class="container">
            <div id="acrylic">
                <img :src="screenshotFile"></img>
                <div id="noise"></div>
            </div>
            <div
                class="user-input-container"
                :style="userInputContainerStyle()"
                :class="{ 'active': commandLineOutput.length !== 0 || searchResults.length !== 0 || musicPlayer.playerConnectStatus }"
            >
                <div
                    id="scopes-container"
                    v-for="scope in scopes"
                >
                    <span
                        class="scope"
                    >
                        {{ scope }}
                    </span>
                </div>
                <input
                    id="user-input"
                    class="user-input" :style="userInputStyle()"
                    type="text" v-model="userInput"
                    :autofocus="{ 'autofocus' : autoFocus }"
                    v-on:keyDown="handleKeyPress"
                >
                <div
                    class="search-icon-container"
                    style="-webkit-app-region: drag;"
                    :style="searchResultWidth()"
                >
                    <svg viewBox="0 0 32 32" v-html="searchIcon"></svg>
                </div>
            </div>

            <div
                class="output-container"
                :style="outputContainerHeight()"
                :class="{ 'musicActive' : commandLineOutput.length === 0 && searchResults.length === 0 && musicPlayer.playerConnectStatus }"
            >
                <div
                    id="music-info-container"
                    :class="{ 'hidden' : commandLineOutput.length !== 0 || searchResults.length !== 0 || !musicPlayer.playerConnectStatus }"
                >
                    <div id="blur-background" :class="{ 'small': musicPlayer.smallSize }" :style="{ 'background-image' : musicPlayer.albumCover}"></div>
                    <div id="player" :class="{ 'small': musicPlayer.smallSize }">
                        <div id="cover-container">
                            <div id="album-cover" :style="{ 'background-image' : musicPlayer.albumCover}"></div>
                            <div id="like-track" :class="{ 'liked': musicPlayer.liked }" v-on:click="likeTrack"></div>
                        </div>
                        <div id="player-container">
                            <div id="player-control">
                                <div class="icon previous-track" v-on:click="previousTrack"></div>
                                <div class="icon next-track" v-on:click="nextTrack"></div>
                                <div
                                    class="play-pause"
                                    :class="{ 'play': !musicPlayer.state, 'pause' : musicPlayer.state }"
                                    v-on:click="playPauseTrack"
                                ></div>
                            </div>
                            <div class="spacer"></div>
                            <div id="player-info">
                                <div class="title">{{ musicPlayer.track }}</div>
                                <div class="artist">{{ musicPlayer.artist }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="command-line-output-container"
                    :class="{ 'hidden' : commandLineOutput.length === 0 }"
                >
                    <pre v-for="line in commandLineOutput">{{ line }}</pre>
                </div>

                <div
                    class="search-results-container"
                    :class="{ 'hidden' : searchResults.length === 0}"
                    v-on:mousemove="handleMouseMove"
                >
                    <div
                        :id="searchResult.id"
                        class="search-result"
                        :class="{ 'active' : searchResult.active }"
                        :style="searchResultHeight()"
                        v-for="(searchResult, searchIndex) in searchResults"
                        v-on:mouseover="handleMouseOver(searchIndex)"
                        v-on:click="handleClick"
                        @contextmenu.prevent="handleRightClick(searchIndex)"
                    >
                        <div class="search-result-icon">
                            <div
                                class="search-result-icon-container"
                                :class="{ 'active' : searchResult.active }"
                                :style="searchResultIconStyle()"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="100%"
                                    height="100%"
                                    viewBox="0 0 32 32"
                                    v-html="searchResult.icon"
                                ></svg>
                            </div>
                        </div>
                        <div class="search-result-information">
                            <div class="search-result-header-container">
                                <span
                                    class="search-result-alternative-prefix"
                                    :class="{ 'active' : searchResult.active && searchResult.alternativePrefix && showAlternativePrefix }"
                                    :style="searchResultAlternativePrefixStyle()"
                                >
                                    {{ searchResult.alternativePrefix }}
                                </span>
                                <span
                                    class="search-result-name"
                                    :class="{ 'active' : searchResult.active }"
                                    :style="searchResultNameStyle()"
                                >
                                    {{ searchResult.name }}
                                </span>
                            </div>
                            <span
                                class="search-result-execution-argument"
                                :style="searchResultExecutionArgumentStyle()"
                                :class="{ 'active' : searchResult.active } "
                            >
                                {{ searchResult.description || searchResult.executionArgument }}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        require('./build/renderer.js');
    </script>
</body>

</html>