$text-color: #ccc;
$accent-color: rgba(51, 56, 66, 0.2);
$accent-text-color: #fff;
$mono-font-color: #ccc;

$scrollbar-foreground-color: #424a56;

:root {
    --background-color: 33,37,43;
}

@import "app";