$text-color: #ccc;
$accent-color: rgba(34, 34, 34, 0.2);
$accent-text-color: #fff;
$mono-font-color: #ccc;

$scrollbar-foreground-color: #444;

:root {
    --background-color: 0,0,0;
}

@import "app";