$text-color: #000;
$accent-color: rgba(25, 118, 210, 0.2);
$accent-text-color: #fff;
$mono-font-color: #666;

$scrollbar-foreground-color: #858585;

:root {
    --background-color: 255,255,255;
}

@import "app";